.box1{
    background-color: black;
    color: white;
    height: 150px;
    width: 900px;
    display: flex;
    gap: 20px;
    

}
.box{
    background-color: red;
    color: white;
    padding: 20px;
    height: 30px;
    width: 60px;
    margin: 20px;
    border: 10px yellow solid;
    border-radius: 20px;
    display: inline-block;

}