body {
    font-family: Arial, sans-serif;
    padding: 30px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding: 30px;
    background-color: lightblue;
    text-align: center;
    border-radius: 10px;
}

.card h2 {
    font-size: 20px;
}

.card p {
    font-size: 25px;
    font-weight: bold;
}