.box {
  width: 100px;
  height: 100px;
  background: tomato;
  margin: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}