body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    min-height: 1500px;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}