body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

.content {
    padding: 30px;
    min-height: 1500px;
}